@using HRSystem.Application.ViewModels;
@model (IEnumerable<StaffViewModel> svm, DialogViewModel dvm)

@{
    ViewData["Title"] = "Index";
    var sample = Model.svm?.FirstOrDefault() ?? new StaffViewModel();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => sample.StaffNo)</th>
            <th>@Html.DisplayNameFor(_ => sample.StaffName)</th>
            <th>@Html.DisplayNameFor(_ => sample.BirthDate)</th>
            <th>@Html.DisplayNameFor(_ => sample.Address1)</th>
            <th>@Html.DisplayNameFor(_ => sample.Address2)</th>
            <th>@Html.DisplayNameFor(_ => sample.Address3)</th>
            <th>@Html.DisplayNameFor(_ => sample.Address4)</th>
            <th>@Html.DisplayNameFor(_ => sample.EmailAddress)</th>
            <th>@Html.DisplayNameFor(_ => sample.PhoneNumber)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.svm != null && Model.svm.Any())
        {
            foreach (var item in Model.svm)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.StaffNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.StaffName)</td>
                    <td>@Html.DisplayFor(modelItem => item.BirthDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address1)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address2)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address3)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address4)</td>
                    <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.StaffNo">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.StaffNo">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.StaffNo">Delete</a> |
                        <a asp-controller="Contract" asp-action="Create" asp-route-id="@item.StaffNo">Create Contract</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="10" class="text-center text-muted">No staff records found.</td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("Dialog", Model.dvm)